# requirements.txt: to execute run>> 	pip install -r requirements.txt
# Essential packages

numpy
pandas
scipy


# GCP dependencies
docx
IPython
google-cloud-speech
google-cloud-storage
etils
jiwer
plotly
pydub

